*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/aeonVideo/release
/algomedia/release
/amgo/release
/cathaycinehome/release
/cathayplayer/release
/centv/release
/estrenosdecinedigital/release
/indigenouscloud/release
/joynjoyful/release
/livingfaithnetwork/release
/msasa/release
/muvionyx/release
/mytelefy/release
/netgigs/release
/ohmonline/release
/plexigo/release
/sapphire/release
/yebo/release

